/* CategorySelector.css */

.category-container {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.category-container::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Opera */
}
