.custom-scrollbar::-webkit-scrollbar {
	width: 10px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.2); /* Color of the thumb */
	border-radius: 6px; /* Roundness of the thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, 0.4); /* Color of the thumb on hover */
}
